<h1>
  {{title}}
</h1>

  <nav>
      <a routerLink = "/users">Users</a>|    
       <a routerLink = "/posts">Posts</a>

  </nav>
<!--<jce-users></jce-users>-->
<router-outlet></router-outlet>    <!--פה שינינו ללכת לפי הראוט ולא קומפוננט מסויים -->

