<span  *ngIf = "!isEdit"> Name: {{user.name}}, Email: {{user.email}}</span>


<span  *ngIf = "isEdit">            

       Name: <input type = "text"  [(ngModel)] = "user.name" >  
       Email: <input type = "text"  [(ngModel)] = "user.email"  >
      
       <button (click) ="cancelEdit()">DeleteEdit</button>     <!-- כפתור של ביטול עריכה בתוך מצב עריכה  -->
</span>

  

<button (click) ="toggleEdit()">{{editButtonText}}</button> 
<button (click) ="sendDelete()">Delete</button> 
<!--here is my add in -->
<!--<button (click) ="donchange()">unDelete</button> -->
